<html>
    <head>
    </head>
    <body>
        <div id="modtest">
            Here are some names: {{ names }}
        </div>
        <script type="module" src="./index.js"></script>
    </body>
</html>